<!DOCTYPE html>
<html>
	<head>
		<title>Set Next Command</title>
	</head>
	<body>
		<form action="/SetNextCommand" method="post">
        	<select name="command">
  				<option value="Enable Bluetooth">Enable Bluetooth</option>
				<option value="Disable Bluetooth">Disable Bluetooth</option>
				<option value="Enable Wifi">Enable Wifi</option>
				<option value="Disable Wifi">Disable Wifi</option>
			</select>
			<input type="submit" value="Submit">
        </form>
	</body>
</html>